{% extends 'shop/extender.html' %}
{% load static %}
{% block content %}  


<!-- product cards -->


<div class="container" id="product-cards">
    {% for product in product %}
    <h1 class="text-center">{{product.productTitle}}</h1>
    <p class="text-center">{{product.subcategory}}</p>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-3 py-3 py-md-0">
        <div class="card">
          <img src="{{product.imageURL}}">
          <div class="card-body">
            <h3 class="text-center">{{product.ProductName}}</h3>
            <p class="text-center">{{product.ads}}</p>
            <div class="star text-center">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
            <h2 style="display: inline-block; float: right">${{product.price}} <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
<!-- product cards -->



{% endblock content %}